header{
    background-image: url(2000_5cdbfc5e601f7.jpg);
    height: 100vh;
    background-size: cover;
    position: relative;
    z-index: -2;
    background-repeat: no-repeat;
}
.ow{
    background-color: black;
    opacity: 0.5;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
}